$color-blue:#007bff;
$color-indigo:#6610f2;
$color-purple:#6f42c1;
$color-pink:#e83e8c;
$color-red:#dc3545;
$color-orange:#fd7e14;
$color-green:#28a745;
$color-teal:#20c997;
$color-cyan:#17a2b8;
$color-white:#fff;
$color-gray:#6c757d;
$color-gray-dark:#343a40;
$color-grey-dark: #777;
$color-primary:#007bff;
$color-secondary:#6c757d;
$color-success:#28a745;
$color-info:#17a2b8;
$color-warning:#ffc107;
$color-danger:#dc3545;
$color-light:#f8f9fa;
$color-dark:#343a40;

$color-grey-light-1: #f7f7f7;
$color-black: #000;




// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
